In [17]:
import pandas as pd

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
df = pd.read_csv(uri)
df.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [18]:
# Renomeando colunas
map = {
    "home": "princiapal",
    "how_it_works" : "como_funcinona",
    "contact": "contato",
    "bought": "comprou"
}

df = df.rename(columns = map)
df.head()

   princiapal  como_funcinona  contato  comprou
0           1               1        0        0
1           1               1        0        0
2           1               1        0        0
3           1               1        0        0
4           1               1        0        0

In [21]:
# Selecionando as features da variavel alvo

x = df[["princiapal","como_funcinona","contato"]] # Features
y = df["comprou"] # Variavel alvo

#y = df[["comprou"]] # Com colchetes duplos o resultado é um dataframe, caso contrario resultará em uma serie.

In [22]:
# Retornando formato dos dados
df.shape

(99, 4)

In [14]:
# Separando manualmente os dados de treino e teste
x_train = x[:75]
y_train = y[:75]
x_test = x[75:]
y_test = y[75:]

print("Treino: {} - Teste: {}".format(len(x_train), len(x_test)))

Treino: 75 - Teste: 24

In [6]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

def classification(x_train, y_train, x_test, y_test):
  model = LinearSVC()
  model.fit(x_train, y_train)
  predictions = model.predict(x_test)

  accuracy = accuracy_score(y_test, predictions) * 100
  return accuracy

In [20]:
# Treinando o modelo
accuracy = classification(x_train, y_train, x_test, y_test)
print("Acuracia: {:.2f}%".format(accuracy))

Acuracia: 95.83%

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [26]:
# separando dados de treino e teste usando sklearn
from sklearn.model_selection import train_test_split

SEED = 20

# stratify para manter a proporção 
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size = 0.25, 
                                                    random_state = SEED,
                                                    stratify = y
                                                    )
accuracy = classification(x_train, y_train, x_test, y_test)
print("Acuracia: {:.2f}%".format(accuracy))

Acuracia: 96.00%

In [27]:
y_train.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [28]:
y_test.value_counts()

0    17
1     8
Name: comprou, dtype: int64